.panel__top{
  position: absolute;
  height: 475px;
  width: 1165px;
  display: inline-block;
  -webkit-filter: brightness(.5);
  filter: brightness(.5);
  float: inherit;
}
.panel__top--content{
  position: relative;
  text-align: center;
  z-index: 3;
  transform: translateY(275%);
  color: #FAFAFA;
}
.main--fullpage{
  margin-top: -30px;
}
.landing--content{
  position: relative;
  overflow: auto;
  float: inherit;
  margin-top: 400px;
  text-align: center;
  padding-bottom: 20px;
}
.panel__mid{
  background-color:#F0F0F0;
  height: 275px;
  width: auto;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.panel__mid--pic {
  padding-top: 15px;
  height: 260px;
  width: 260px;
  float: right;
}
.panel__mid--header{
  color: #d00d2d;
}
.panel__mid--content{
  position: relative;
  left: 105px;
  padding-top: 85px;
  text-align: center;
  width: 350px;
  word-wrap: break-word;
}