.sea__post{
  margin-top: -220px;
  height: 550px;
  width: 1150px;
  -webkit-filter: brightness(.5);
  filter: brightness(.5);
}
.container {
  position: relative;
}
.sea__post {
  position: absolute;
  clip: rect(200px, 1200px, 400px, 0);
  /* clip: shape(top, right, bottom, left); NB 'rect' is the only available option */
}
.panel__top--content1{
position: relative;
text-align: center;
z-index: 3;
transform: translateY(125%);
color: #FAFAFA;
}
.mid-nav{
  margin-top: 90px;
}
.nav-sub li{
  display: inline-block;
}
.nav-sub{
  display: inline-block;
  text-decoration: none;
  list-style-type: none;
}
.projects__body{
  padding-top: 30px;
}
.mid-nav{
  border-bottom: solid 1px #e7e7e7;
}
.panel__row{
  display: inline-block;
}